.list-view .list-cell:even {
    -fx-background-color: #1B2328;//#232323;
    -fx-text-fill: black;
}

.list-view .list-cell:odd {
    -fx-background-color: #1B2328;
    -fx-text-fill: black;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #002D73;
    -fx-background-radius: 5em;
}

.scroll-pane > .corner {
    -fx-background-color:  #EDEDED;
}

.scroll-bar:vertical {
    -fx-pref-width: 16.5;
    -fx-padding: 3;
}

.scroll-bar:horizontal {
    -fx-pref-height: 16.5;
    -fx-padding: 3;
}

.scroll-bar, .scroll-bar:pressed, .scroll-bar:focused {
    -fx-font-size: 15;
}

.scroll-bar .decrement-arrow {
    -fx-padding:2.25;
 }
.scroll-bar .increment-arrow {
    -fx-padding:2.25;
}

.info {

    -fx-padding: 3px;

    -fx-background-color: #F7A800;
    -fx-background-radius: 50px;

    -fx-pref-height: 50px;
    -fx-pref-width: 50px;

    -fx-border-radius: 50px;
    -fx-border-width: 2px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}